<!--
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()" class="back-button">
          <ion-icon name="arrow-back" class="back-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div style="color: #e2f0cc">
        Camera
      </div>
    </ion-toolbar>
  </ion-header>
  <div>
    <img *ngIf="photo" [src]="photo" alt="Captured photo" />
    <ion-button (click)="takePhoto()">Take Photo</ion-button>
  </div>
</ion-content>

-->

