<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()" class="back-button">
          <ion-icon name="arrow-back" class="back-icon"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div style="color: #e2f0cc">
        Map
      </div>
    </ion-toolbar>
  </ion-header>
  <iframe
    src="https://www.google.com/maps/d/u/0/embed?mid=1ZHx33Oyg9ZrtkFfghJ39LPqTpF7Gasc&ehbc=2E312F&noprof=1"
    width="100%"
    height="100%"
    frameborder="0"
    style="border:0"
    allowfullscreen>
  </iframe>
</ion-content>
